@()
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/activityStreams.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/activityStreamHelpers.js")" type="text/javascript"></script>
</head>
<body>

Test

<script type="text/javascript">
    activityStreams.token = "b4a4bbfa8ac2e748e1830da728001ae0";


</script>

</body>
</html>